* {
    margin: 0;
    padding: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* 鼠标悬停在滚动条上时的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#father {
    margin: 0;
    padding: 0;
    display: flex;
    flex: auto;
    height: 100%;
    width: 100%;
    background-color: #343541;
    align-content: stretch;
    /* position: absolute; */
}


#bar {
    width: 20%;
    transition: 'width 0.3s ease'
}

#bar.collapsed {
    width: 0;
}