.container {
    width: 60%;
    height: 100%;
    background: #444654;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    color: #ffffff;
}

.box {
    width: 90%;
    height: 2000px;
    background: #fabbc2;

}

.box1 {
    width: 90%;
    height: 2000px;
    background: #1abbc2;

}

.box2 {
    width: 90%;
    height: 2000px;
    background: #1a1bc2;

}

.box3 {
    width: 90%;
    height: 2000px;
    background: #fafbc2;

}