.container{
    width: 60%;
    height: 100vh;
    background: #bfa;
    display: flex;
    justify-content: center;
}
.box{
    width: 90%;
    height: 100%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.msg{
   font-size: 50px; 
}