*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container{
    width: 100%;
    height: 800px;
    background:rgb(81, 107, 233);
}
.container ul li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
    
}
.container .list ul li:hover{
    background: red;
    color: white;
    
}
.container .list ul{
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
.container .list{
    margin: 50px;
}




.container .lunbo{
    width: 80%;
    height: 500px;
    padding: 10px;
}

.container .lunbo img{
    width: 100%;
    height: 100%;
}